@import "./base";

.button {
    @include base;
    
    &:hover {
        background-color: darken($action, 10%);
        color: $dark;
    }

    &:focus {
        background-color: lighten($action, 20%);
        box-shadow: 0 0 0 2px $action;
        color: $dark;
        outline: none;
    }

    &:active {
        background-color: darken($action, 15%);
        box-shadow: none;
        color: $dark;
    }

    &--neutral {
        @include base;
        background-color: $light;

        &:hover {
            background-color: darken($light, 10%);
            color: $dark;
        }

        &:focus {
            background-color: lighten($light, 20%);
            box-shadow: 0 0 0 2px $action;
            color: $dark;
            outline: none;
        }

        &:active {
            background-color: darken($light, 15%);
            box-shadow: none;
            color: $dark;
        }
    }
}
