&__heading {
    background-color: $secondary;
    font-size: 4rem;
    font-weight: normal;
    margin-top: -2rem;
    margin-right: -2rem;
    margin-left: -2rem;
    padding: 2rem;
    text-transform: uppercase;
}