@mixin base() {
    background-color: lighten($primary, 5%);
    margin-bottom: 2rem;
    padding: 2rem;
}

.card-list {
    @include base;

    @import 'name';
    @import 'description';
    @import 'cards';
    @import 'card';
}