$primary: #3D4C53;
$secondary: #70B7BA;
$action: #A9CF54;
$action-text: #F7E967;
$accent: #F1433F;
$light: #EEEEEE;
$dark: #333333;

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
::before,
::after {
    box-sizing: inherit;
}

:first-child {
    margin-top: 0;
}

:last-child {
    margin-bottom: 0;
}

body {
    background: $primary;
    color: $light;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 2rem;
}

a {
    color: $action-text;

    &:hover {
        color: darken($action-text, 20%);
    }

    &:focus {
        color: darken($action-text, 20%);
        background-color: rgba(255, 255, 255, 0.2);
        outline: none;
    }

    &:active {
        color: darken($action-text, 30%);
        background-color: inherit;
    }
}

/* Buttons */

.button {
    background-color: $action;
    border-radius: 0.4rem;
    color: $dark;
    display: inline-block;
    padding: 1rem 2rem;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-decoration: none;
    
    &:hover {
        background-color: darken($action, 10%);
        color: $dark;
    }

    &:focus {
        background-color: lighten($action, 20%);
        box-shadow: 0 0 0 2px $action;
        color: $dark;
        outline: none;
    }

    &:active {
        background-color: darken($action, 15%);
        box-shadow: none;
        color: $dark;
    }

    &--neutral {
        background-color: $light;
        border-radius: 0.4rem;
        color: $dark;
        display: inline-block;
        padding: 1rem 2rem;
        text-decoration: none;
        transition: background-color 0.3s, box-shadow 0.3s;

        &:hover {
            background-color: darken($light, 10%);
            color: $dark;
        }

        &:focus {
            background-color: lighten($light, 20%);
            box-shadow: 0 0 0 2px $action;
            color: $dark;
            outline: none;
        }

        &:active {
            background-color: darken($light, 15%);
            box-shadow: none;
            color: $dark;
        }
    }
}



/* Card List */

.card-list {
    background-color: lighten($primary, 5%);
    margin-bottom: 2rem;
    padding: 2rem;

    &__name {
        border-left: 0.5rem solid $action-text;
        display: inline-block;
        padding: 1rem;
    }

    &__description {
        font-style: italic;
    }

    &__cards {
        list-style: none;
        padding: 0;

        @media screen and (min-width: 768px) {
            display: flex;
        }
    }

    &__card {
        background-color: $primary;
        padding: 2rem;

        @media screen and (min-width: 768px) {
            flex: 1 1 auto;
        }

        & + & {
            margin: 2rem 0 0 0;

            @media screen and (min-width: 768px) {
                margin: 0 0 0 2rem;
            }
        }
    }

}


/* Action Box */

.action-box {
    text-align: center;

    &__heading {
        background-color: $secondary;
        font-size: 4rem;
        font-weight: normal;
        margin-top: -2rem;
        margin-right: -2rem;
        margin-left: -2rem;
        padding: 2rem;
        text-transform: uppercase;
    }

    &__description {
        text-transform: uppercase;
    }

    &__actions {
        background-color: darken($primary, 5%);
        margin: 3rem -2rem -2rem -2rem;
        padding: 1rem;
    }
}


/* Patron */

.patron {
    background-color: $light;
    border: 0.8rem solid $dark;
    border-radius: 0.4rem;
    padding: 1rem;
    text-align: center;

    &__name {
        color: $secondary;
    }

    &__image {
        border: 0.5rem solid $primary;
    }
}