$primary: #3D4C53;
$secondary: #70B7BA;
$action: #A9CF54;
$action-text: #F7E967;
$accent: #F1433F;
$light: #EEEEEE;
$dark: #333333;

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background: $primary;
    color: $light;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 2rem;
}

a {
    color: $action-text;
}

a:hover {
    color: darken($action-text, 20%);
}

a:focus {
    color: darken($action-text, 20%);
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
}

a:active {
    color: darken($action-text, 30%);
    background-color: inherit;
}

/* Buttons */

.button {
    background-color: $action;
    border-radius: 0.4rem;
    color: $dark;
    display: inline-block;
    padding: 1rem 2rem;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-decoration: none;
}

.button:hover {
    background-color: darken($action, 10%);
    color: $dark;
}

.button:focus {
    background-color: lighten($action, 20%);
    box-shadow: 0 0 0 2px $action;
    color: $dark;
    outline: none;
}

.button:active {
    background-color: darken($action, 15%);
    box-shadow: none;
    color: $dark;
}

.button--neutral {
    background-color: $light;
    border-radius: 0.4rem;
    color: $dark;
    display: inline-block;
    padding: 1rem 2rem;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-decoration: none;
}

.button--neutral:hover {
    background-color: darken($light, 10%);
    color: $dark;
}

.button--neutral:focus {
    background-color: lighten($light, 20%);
    box-shadow: 0 0 0 2px $action;
    color: $dark;
    outline: none;
}

.button--neutral:active {
    background-color: darken($light, 15%);
    box-shadow: none;
    color: $dark;
}


/* Card List */

.card-list {
    background-color: lighten($primary, 5%);
    margin-bottom: 2rem;
    padding: 2rem;
}

.card-list__name {
    background-color: $secondary;
    color: $primary;
    display: inline-block;
    padding: 1rem;
}

.card-list__description {
    font-style: italic;
}

.card-list__cards {
    list-style: none;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .card-list__cards {
        display: flex;
    }
}
.card-list__card {
    background-color: $primary;
    padding: 2rem;
}

@media screen and (min-width: 768px) {
    .card-list__card {
        flex: 1 1 auto;
    }
}

.card-list__card + .card-list__card {
    margin: 2rem 0 0 0;
}

@media screen and (min-width: 768px) {
    .card-list__card + .card-list__card {
        margin: 0 0 0 2rem;
    }
}


/* Action Box */

.action-box {

}

.action-box__heading {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: normal;
}

.action-box__description {
    text-transform: uppercase; 
    color: $secondary;
}

.action-box__actions {
    text-align: center;
}




/* Patron */

.patron {
    text-align: center;
    border: 0.8rem solid $dark;
    border-radius: 0.4rem;
    padding: 1rem;
    background-color: $light;
}

.patron__name {
    color: $secondary;
}

.patron__image {
    border: 0.5rem solid $primary;
}